@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    
    margin: auto;
    margin-top: 2.5rem;
    width: 1200px;

    background-color: #1e1e1e;
    color: aliceblue;

    input, img, button {
      border-radius: 8px;
    }

    input {
      border: none;
      outline: none;
    }

    button {
      cursor: pointer;
      border: none;
    }
}


@media (max-width: 1150px) {
    body {
      width: 100vw;
    }
  }