.homeContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.paginationContainer {
  width: 85%;

  display: flex;
  justify-content: space-between;

  padding: 0 1rem;
  margin-bottom: 1rem;

  select {
    border-radius: 8px;
  }

  button {
    width: 25px;
    margin: .1rem;
  }
}

.inputSearch {
  margin-top: 1rem;
  width: 50%;
  height: 2rem;
  padding-left: 1rem;
  transition: .5s;

  &:focus {
    width: 80%;
    background-color: cornflowerblue;
    color: #fff;
    font-size: 1.1rem;
  }
}
  
.mainContainer {
  max-width: 1200px;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;

    li {
      text-align: center;

      display: flex;
      align-items: center;

      margin: 2.5rem;

      .userInfo {
        display: flex;
        flex-direction: column;

        width: 50px;

        span {
          margin-top: .2rem;
        }
      }

      img {
        width: 70px;
        margin-right: 1rem;
        border: 2px solid aliceblue;
        border-radius: 8px;
        transition: .3s;

        &:hover {
          transform: scale(1.1);
          border: 2px solid cornflowerblue;
        }
      }
    }
    
  }
}


@media (max-width: 1150px) {
  .mainContainer {
    width: 100vw;

    ul {

      li {
        .userInfo {
          font-size: 1.2rem;
        }

        img {
          width: 120px
        }
      }
    }
  }
}